/* Modelo de Caixa (Box modelo) */

/* 
Todo elemento  HtML é tratado como uma "caixa", composta por:


-> content: conteúdo principal;
-> padding: espaço interno entre o conteúdo e a borda;
-> border: linha que envolve o elemento;
-> margin: espaço externo entre elementos;
*/

.caixa {
     width: 250px;   /* Largura da caixa */
     padding: 20px; /* Espaço interno */
     border: 10px solid #000; /* borda (tamanho, tipo e cor) */
     margin: 25px; /* Espaçamento Externo */
     background-color: #4664;
}